*{
    margin: 0; /*moves everything to the far left*/
    padding: 0; /*moves everything to the far left*/
}

body{
    background-color: #888888;
}

nav{
    background-color: cyan;  /*change background to cyan*/
    color: #eee;  /*change font color to whit*/
    font-size: 18px;  /*font size to 18px*/
    font-weight: bold;   /*change font to bold*/
    padding-right: 15px;
    text-align: right;
}

nav li{
    box-sizing: border-box;
    display: inline-block;  /*display it from 1 colum stacked to 1 row 1 after the other*/
    padding: 12px;   /*spaces them out */
    cursor: pointer;   /*changes the mouse cursor arrow to a finger*/
}

nav li:hover{
    background-color: #97cccc;  /*when the mouse hovers over the nav bar it will change color*/

}

.dropdown{
   position: relative; /*Allows the drop down menu to be under neath*/
}

.dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    display: none;  /*makes it disappear from the screen*/
}

.dropdown-content li{
    background-color: cyan;
    width: 100%;
}

.dropdown:hover .dropdown-content{
    display: block;   /*when the mouse hovers it will diplay the*/
}

.module{
    text-align: center;
}