@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;  /*no margins*/
    padding: 0; /*no padding*/
}

body{
    /* background-color: #f6f5f4; */
    /* background-image: url(images/nature-sky-clouds-field-9198.jpg); */
    background-image: url(images/green-692079_1920.jpg);
    background-size: cover;
}

nav{
    /* background-image: linear-gradient(141deg, #9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%); */
    background-color: white;
    color : black;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
    text-align: center;
    position: relative;
    top: -19px;
    z-index: 2;
}
nav li{
    box-sizing: border-box;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
}
nav li:hover{
    background-color: gray;
}



.dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    display: none;
    background-image: linear-gradient(141deg, #9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%);
}


.dropdown-content li{
    /*background-image: linear-gradient(141deg, #9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%);*/
    width: 100%;
}

.dropdown li:hover{
    background-color: gray;

}

.dropdown-content a{
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.head{
    font-family: 'Roboto';
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -80px;
    text-decoration: underline;
}

.logo{
    position: relative;
    top: 10px;
}

.container{
    /*  display: flex;
     flex-direction: row; */
     display: grid;   /*diplay in grid format which makes it easier to put into column format*/
     grid-template-columns: 50% 40%; /*50% for first column 40% for second column*/
     grid-column-gap: 10px;  /*put a gap of 10px between the 2 columns*/
     position: relative;
     top: 90px;
   /* z-index: 0;  /*a property with a lower z index will go behind something that shows on the screen done so that when the drop down appears the colums will go behind the dropdown*/
 
 }
 .col1{
     display: grid;   /*display in grid to beable to put the items in the container into a column format*/
     position: relative;  /*able to move the container arround the page*/
     left: 33.8%; /*move to the left*/
     top: -50px; /*move to the top*/
     width: fit-content;  /*make the border fit properly*/
     grid-row-gap: 10px;  /*gap between each row*/
     grid-template-columns: 50% 50%;  /* 50% for each column */
     border: solid; /*solid border*/
     padding-right: 30px;  /*text away from border*/
     padding-left: 30px;
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: #f6f5f4;
   /*  border: solid;
     margin-left: 250px;
     margin-right: 750px;
     padding-bottom: 50px; */
 }
 
 .col2{
     display: grid;
     position: relative;
     left: -2%;
     top: -50px;
     width: fit-content;
     grid-row-gap: 10px;
     grid-template-columns: 50% 50%;
     border: solid;
     padding: 30px 30px 30px 30px;
     background: #f6f5f4;
 
    /* border: solid;*/
 }

 .col2mod{
    display: grid;
    position: relative;
    left: -2%;
    top: -50px;
    width: fit-content;
    grid-template-columns: 100%;
    border: solid;
    padding: 30px 30px 30px 30px;
    background: #f6f5f4;

 }
 
 .sub{
     position: relative;
     left: 45.5%;
     bottom: -45px;
     font-size: 20px;
     
 }